<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="fpa" sequenceNumber="16">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rcp.sdk.id" version="3.7.1.M20110909-1335"/>
<unit id="org.junit" version="4.8.2.v4_8_2_v20110321-1705"/>
<repository location="http://download.eclipse.org/releases/indigo/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.codec" version="1.3.0.v201101211617"/>
<unit id="org.apache.commons.codec.source" version="1.3.0.v201101211617"/>
<unit id="com.google.collect" version="1.0.0.v201105210816"/>
<unit id="com.google.collect.source" version="1.0.0.v201105210816"/>
<unit id="com.google.inject" version="2.0.0.v201105231817"/>
<unit id="com.google.inject.source" version="2.0.0.v201105231817"/>
<unit id="org.hamcrest.core" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.core.source" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.integration.source" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.generator" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.generator.source" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.integration" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.library" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.library.source" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.text.source" version="1.1.0.v20090501071000"/>
<unit id="javax.mail.glassfish" version="1.4.1.v201108011116"/>
<unit id="javax.mail.glassfish.source" version="1.4.1.v201108011116"/>
<unit id="org.jmock" version="1.2.0.v201112120441"/>
<repository location="http://build.eclipse.org/orbit/committers/orbit-I/20120109153617/I20120109153617/repository/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<unit id="org.eclipse.swtbot.ide.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit3.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit4.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<unit id="org.eclipse.swtbot.forms.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<unit id="org.eclipse.swtbot.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<repository location="http://download.eclipse.org/technology/swtbot/helios/dev-build/update-site"/>
</location>
</locations>
</target>
